@{
    ViewData["Title"] = "Home Page";
}

@using Microsoft.AspNetCore.Identity
@using CoverLetterReview.Data;
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    @if (SignInManager.IsSignedIn(User))
    {
        if (User.IsInRole("StandardUser"))
        {

            <h5>At Cover Letters for You, we'll turn your cover letter into something every employer is looking for</h5>

            <div>
                <a asp-controller="Documents" asp-action="Create"> Click here to upload a Cover Letter!</a>
            </div>
            <div>
                <a asp-controller="Documents" asp-action="UserIndex"> Click here to see the status of your recently uploaded documents!</a>
            </div>
        }
        else if (User.IsInRole("Administrator"))
        {
            <h5>Hello Admin</h5>
            <div>
                <a class = "btn btn-outline-info" asp-controller="Documents" asp-action="AdminIndex"> View Pending Cover Letters</a>
            </div>
        }
    }


</div>
