@model CoverLetterReview.Data.Document

@{
    ViewData["Title"] = "Create";
}

<h1>Upload your Cover Letter</h1>

<hr />
<div class="row">
    <div class="col-md-7">
        <form asp-action="Create">


            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="DocumentName" class="control-label"></label>
                <input asp-for="DocumentName" class="form-control" />
      
                <span asp-validation-for="DocumentName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Priority" class="control-label"></label>
                <input asp-for="Priority" placeholder="1-3, 1 is low 3 is high" class="form-control" />
                @*<select asp-for="DocumentName">
                    <option> Low </option>
                    <option> Medium</option>
                    <option> High</option>
                </select>*@
                <span asp-validation-for="Priority" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IntendedJob" class="control-label"></label>
                <input asp-for="IntendedJob" class="form-control" />
                <span asp-validation-for="IntendedJob" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DocumentText" class="control-label"></label>
                <input asp-for="DocumentText" class="form-control" />
                <span asp-validation-for="DocumentText" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Upload Document" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
